<a href="https://colab.research.google.com/github/andyrids/trackinsight/blob/main/trackinsight.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
%pip install haversine -q

In [46]:
import geopandas as gpd
import pandas as pd
import numpy as np
from haversine import haversine_vector, Unit
from numpy.typing import ArrayLike, NDArray
from pandas import DataFrame, DatetimeIndex

In [ ]:
# sort array
# a = a[a[:, 0].argsort()]

In [ ]:
# [[t, x, y], ...]
# np.split(a[:,1], np.unique(a[:, 0], return_index=True)[1][1:])

In [10]:
def euclidean_distance(x: NDArray, y: NDArray) -> ArrayLike:
    """"""
    return np.linalg.norm(x - y)

In [31]:
def assign_epoch_time(data: DataFrame, time_column: str = "ti_timestamp") -> DataFrame:
    """"""
    return data.assign(
        **{time_column: DatetimeIndex(data[time_column]).asi8 // 10**9}
    )

In [32]:
def sort_trajectories(
        data: DataFrame,
        uid_column: str = "ti_uid",
        time_column: str = "ti_timestamp"
    ) -> DataFrame:
    """Sort trajectories by unique identifier & timestamp."""
    return data.sort_values(by=[uid_column, time_column]).reset_index(drop=True)

In [33]:
def elapsed_seconds(
        data: DataFrame,
        uid_column: str = "ti_uid",
        time_column: str = "ti_timestamp"
    ) -> DataFrame:
    """Calculate elapsed seconds between trajectory points.

    Args:
        data (DataFrame): Trajectory data.
        uid_column (str): Unique identifier column.
        time_column (str): Timestamp column.

    Returns:
        A DataFrame with a `ti_elapsed_time_s` column containing
        the elapsed time between trajectory points in seconds.
    """
    elapsed_time_s = data.groupby(uid_column)[time_column].diff()
    return data.assign(ti_elapsed_time_s=elapsed_time_s)

In [34]:
def elapsed_distance(
        data: DataFrame,
        uid_column: str = "ti_uid",
        x_column: str = "ti_x",
        y_column: str = "ti_y"
    ) -> DataFrame:
    """Calculate the distance travelled between trajectory points.

    Args:
        data (DataFrame): Trajectory data.
        uid_column (str): Unique identifier column.
        x_column (str): X-coordinate column.
        y_column (str): Y-coordinate column.

    Returns:
        A DataFrame with a `ti_distance_m` column, containing the
        distance travelled between trajectory points in meters.
    """
    data_grouped = data.groupby(uid_column)

    def assign_distances(x: DataFrame) -> DataFrame:
        """"""
        yx_columns = [y_column, x_column]
        distances_m = haversine_vector(
            x[yx_columns], x[yx_columns].shift(), Unit.METERS, check=False
        )
        return x.assign(ti_distance_m=distances_m)

    return data_grouped.apply(
        assign_distances, include_groups=False
    )

In [35]:
def calculate_speed(
    data: DataFrame,
    uid_column: str = "ti_uid",
    elapsed_time_column: str = "ti_elapsed_time_s",
    elapsed_distance_column: str = "ti_distance_m"
) -> DataFrame:
    """Calculate the speed between trajectory points.

    NOTE: Speeds are calculated in m/s & Kn.

    Args:
        data (DataFrame): Trajectory data.
        uid_column (str): Unique identifier column.
        elapsed_time_column (str): Elapsed time column.
        elapsed_distance_column (str): Elapsed distance column.

    Returns:
       A DataFrame with `ti_speed_mps` & `ti_speed_kts`
       speed columns.
    """
    speed_mps = data[elapsed_distance_column] / data[elapsed_time_column]
    speed_kts = speed_mps * 1.943844
    return data.assign(ti_speed_mps=speed_mps, ti_speed_kts=speed_kts)

In [36]:
def transform_trajectories(
    data: DataFrame,
    uid_column: str,
    time_column: str,
    x_column: str,
    y_column: str,
) -> DataFrame:
    """Transform AIS trajectory data.

    Args:
        data (DataFrame): Trajectory data.
        uid_column (str): Unique identifier column.
        time_column (str): Timestamp column.
        x_column (str): X-coordinate column.
        y_column (str): Y-coordinate column.

    Returns:
        A DataFrame with transformed trajectory data.
    """
    if data[time_column].dtype.name == "datetime64[ns]":
        data = data.pipe(assign_epoch_time, time_column)

    columns = [uid_column, time_column, x_column, y_column]
    data = data.filter(columns)
    default_columns = ["ti_uid", "ti_timestamp", "ti_x", "ti_y"]
    data = data.set_axis(default_columns, axis="columns")

    data = data.pipe(sort_trajectories)
    data = data.pipe(elapsed_seconds)
    data = data.pipe(elapsed_distance)
    data = data.pipe(calculate_speed)

    return data

In [37]:
# AIS trajectory data
data = pd.read_csv("https://raw.githubusercontent.com/PilotLeaf/PyVT/main/traj_preprocess/ais_clean/data/1.csv", index_col=0)

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 308 entries, 0 to 307
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DRMMSI         308 non-null    int64
 1   DRLATITUDE     308 non-null    float64
 2   DRLONGITUDE    308 non-null    float64
 3   DRDIRECTION    308 non-null    float64
 4   DRSPEED        308 non-null    float64
 5   DRGPSTIME      308 non-null    int64
 6   STATUS         308 non-null    int64
 7   DRTRUEHEADING  308 non-null    int64
 8   DIRECTION      308 non-null    float64
dtypes: float64(5), int64(4)
memory usage: 24.1 KB

In [39]:
data.head(5)

,DRMMSI,DRLATITUDE,DRLONGITUDE,DRDIRECTION,DRSPEED,DRGPSTIME,STATUS,DRTRUEHEADING,DIRECTION
INDEX,,,,,,,,,
0,244726000,31.172785,122.668333,278.6,12.9,1556415580,0,0,0.0
1,244726000,31.172983,122.667032,280.8,12.9,1556415599,0,0,2.2
2,244726000,31.173205,122.665447,279.3,12.9,1556415623,0,0,-1.5
3,244726000,31.173597,122.662968,280.3,12.9,1556415659,0,0,1.0
4,244726000,31.173783,122.661732,280.4,13.0,1556415677,0,0,0.1

In [40]:
data.columns

Index(['DRMMSI', 'DRLATITUDE', 'DRLONGITUDE', 'DRDIRECTION', 'DRSPEED',
       'DRGPSTIME', 'STATUS', 'DRTRUEHEADING', 'DIRECTION'],
      dtype='object')

In [19]:
data = data.filter(["DRGPSTIME", "DRMMSI", "DRLATITUDE", "DRLONGITUDE", "DRSPEED"])

In [41]:
uid_column = "DRMMSI"
time_column = "DRGPSTIME"
x_column = "DRLONGITUDE"
y_column = "DRLATITUDE"

In [44]:
data_transformed = transform_trajectories(data, uid_column, time_column, x_column, y_column)
data_transformed

               ti_timestamp        ti_x       ti_y  ti_elapsed_time_s  \
ti_uid
244726000 0      1556415580  122.668333  31.172785                NaN
          1      1556415599  122.667032  31.172983               19.0
          2      1556415623  122.665447  31.173205               24.0
          3      1556415659  122.662968  31.173597               36.0
          4      1556415677  122.661732  31.173783               18.0
...                     ...         ...        ...                ...
          303    1556445869  122.331262  31.103215               30.0
          304    1556445899  122.329603  31.103185               30.0
          305    1556445920  122.328535  31.103173               21.0
          306    1556445950  122.326922  31.103153               30.0
          307    1556445969  122.325902  31.103155               19.0

               ti_distance_m  ti_speed_mps  ti_speed_kts
ti_uid
244726000 0              NaN           NaN           NaN
          1       125.782026      6.620107     12.868455
          2       152.797062      6.366544     12.375569
          3       239.780926      6.660581     12.947131
          4       119.465403      6.636967     12.901228
...                      ...           ...           ...
          303     149.160800      4.972027      9.664844
          304     157.930635      5.264354     10.233084
          305     101.720586      4.843837      9.415664
          306     153.617611      5.120587      9.953622
          307      97.113893      5.111258      9.935487

[308 rows x 7 columns]

In [43]:
import pyproj
import shapely

In [48]:
geometry = gpd.points_from_xy(data_transformed.ti_x, data_transformed.ti_y)
geo_data_transformed = gpd.GeoDataFrame(data_transformed, geometry=geometry, crs="EPSG:4326")

In [49]:
geo_data_transformed

               ti_timestamp        ti_x       ti_y  ti_elapsed_time_s  \
ti_uid
244726000 0      1556415580  122.668333  31.172785                NaN
          1      1556415599  122.667032  31.172983               19.0
          2      1556415623  122.665447  31.173205               24.0
          3      1556415659  122.662968  31.173597               36.0
          4      1556415677  122.661732  31.173783               18.0
...                     ...         ...        ...                ...
          303    1556445869  122.331262  31.103215               30.0
          304    1556445899  122.329603  31.103185               30.0
          305    1556445920  122.328535  31.103173               21.0
          306    1556445950  122.326922  31.103153               30.0
          307    1556445969  122.325902  31.103155               19.0

               ti_distance_m  ti_speed_mps  ti_speed_kts  \
ti_uid
244726000 0              NaN           NaN           NaN
          1       125.782026      6.620107     12.868455
          2       152.797062      6.366544     12.375569
          3       239.780926      6.660581     12.947131
          4       119.465403      6.636967     12.901228
...                      ...           ...           ...
          303     149.160800      4.972027      9.664844
          304     157.930635      5.264354     10.233084
          305     101.720586      4.843837      9.415664
          306     153.617611      5.120587      9.953622
          307      97.113893      5.111258      9.935487

                                 geometry
ti_uid
244726000 0    POINT (122.66833 31.17278)
          1    POINT (122.66703 31.17298)
          2     POINT (122.66545 31.1732)
          3     POINT (122.66297 31.1736)
          4    POINT (122.66173 31.17378)
...                                   ...
          303  POINT (122.33126 31.10322)
          304   POINT (122.3296 31.10318)
          305  POINT (122.32854 31.10317)
          306  POINT (122.32692 31.10315)
          307   POINT (122.3259 31.10316)

[308 rows x 8 columns]

In [61]:
linestring = shapely.LineString(geo_data_transformed.geometry)

In [63]:
# extracts the coordinates of all points in the linestrings and their corresponding linestring index
geom, index = shapely.get_coordinates(linestring, return_index=True)

In [66]:
# trajectory points belowng to one segment Linestring (one index value)
index

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [70]:
geom.shape, geom[:-1, 0].shape

((308, 2), (307,))

In [67]:
# creates a mask to handle cases where line segments might overlap
no_mix_mask = index[:-1] == index[1:]
no_mix_mask

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [71]:
geo_data_transformed["ti_distance_m"].dropna()

ti_uid
244726000  1      125.782026
           2      152.797062
           3      239.780926
           4      119.465403
           5      280.533425
                     ...
           303    149.160800
           304    157.930635
           305    101.720586
           306    153.617611
           307     97.113893
Name: ti_distance_m, Length: 307, dtype: float64

array([1.25782026e+02, 1.52797062e+02, 2.39780926e+02, 1.19465403e+02,
       2.80533425e+02, 2.05772117e+02, 1.44699887e+02, 1.29376217e+02,
       2.47860479e+02, 3.93165001e+02, 1.52003300e+02, 1.11206298e+02,
       1.41254102e+02, 1.05485871e+02, 1.15273426e+02, 1.06691712e+02,
       1.15394115e+02, 1.63451211e+02, 2.43941970e+02, 2.23073733e+02,
       9.47399186e+01, 1.35829990e+02, 1.03624205e+02, 1.05667635e+02,
       2.34563656e+02, 8.87978456e+01, 2.33937870e+02, 8.40942508e+01,
       4.41838492e+01, 3.92871465e+01, 3.97137044e+01, 1.11810811e+02,
       2.29298598e+01, 1.06753698e+01, 8.56268755e+00, 2.82036725e+01,
       9.55548530e+01, 8.34437584e+01, 9.24105838e+01, 3.63026500e+01,
       1.29676905e+01, 8.35783403e+00, 2.39890571e+00, 3.39825114e+00,
       8.18918575e+00, 1.78216184e+00, 5.00883647e+00, 1.21950622e+01,
       2.45267791e+01, 1.85695784e-01, 2.82414359e+00, 3.86962288e+00,
       2.33828371e+00, 8.10790267e-01, 1.69229033e+01, 3.68816192e+01,
       6.39785318e+00, 1.18045328e+01, 3.46881978e+00, 3.17703903e+00,
       1.39135558e+01, 4.82368790e+00, 4.27365097e+00, 1.31019732e+01,
       3.46241954e+00, 8.82600448e+00, 4.47866352e+00, 3.13972011e+00,
       6.86683013e+00, 1.68387612e+00, 1.01867773e+01, 2.59921626e+00,
       5.35322656e+00, 4.33835823e+00, 2.19494768e+00, 4.32316811e+00,
       1.20999805e+01, 7.03020379e+00, 6.67982631e+00, 2.78457630e+00,
       3.61787536e+00, 1.86066210e+00, 6.63231389e+00, 3.00068076e+01,
       6.88283137e+00, 2.31829116e+01, 1.86534016e+01, 2.38411934e+01,
       2.37941460e+01, 6.19513114e+00, 8.67504384e+00, 3.76665946e+00,
       1.68709375e+01, 3.45675719e+01, 9.64181795e+00, 2.79196624e+00,
       3.28032148e+01, 2.59525942e+01, 4.34252438e+01, 3.61304845e+01,
       4.99298888e+01, 4.37629352e+01, 8.91585783e+01, 6.30326288e+00,
       5.82256266e+00, 1.24904247e+01, 6.79237306e+00, 6.92305982e+00,
       6.44727812e+00, 6.53179410e+00, 8.25149563e+00, 5.37398369e+00,
       5.64191662e+00, 1.18319228e+01, 4.30809626e+00, 3.36422869e+00,
       4.31638367e+00, 6.01072531e+00, 6.86421238e+00, 5.50152153e+01,
       1.93117888e+01, 2.42040990e+01, 2.10676495e+01, 2.21706210e+01,
       2.30136961e+01, 2.45801327e+01, 2.78419396e+01, 3.58595868e+01,
       3.46276874e+01, 2.76149681e+01, 7.42421115e+01, 4.20779402e+01,
       4.62644987e+01, 3.53496534e+01, 8.91109039e+01, 1.46514814e+02,
       7.75690289e+01, 1.93627667e+02, 9.85727026e+01, 1.15919309e+02,
       2.30545806e+02, 1.30271894e+02, 2.49328045e+02, 2.03521756e+02,
       1.93367790e+02, 1.42189538e+02, 4.14786828e+02, 1.39740272e+02,
       1.48527643e+02, 1.36141498e+02, 1.44260092e+02, 1.30610980e+02,
       1.61087806e+02, 1.47368439e+02, 1.33459920e+02, 1.71387597e+02,
       2.31824313e+02, 2.27124222e+02, 2.73703093e+02, 1.83692702e+02,
       2.30872112e+02, 2.32387337e+02, 9.18545129e+02, 1.85847114e+02,
       1.86367455e+02, 1.40031043e+02, 1.32926874e+02, 1.86881792e+02,
       1.45148525e+02, 3.01008981e+02, 2.14614313e+02, 1.57280851e+02,
       1.51335708e+02, 1.03116026e+02, 1.12164616e+02, 1.04939351e+02,
       1.00379722e+02, 1.28376191e+02, 9.36055363e+01, 9.21497981e+01,
       9.31714030e+01, 9.56483474e+01, 1.09974653e+02, 1.08654934e+02,
       2.39108146e+02, 1.14672543e+02, 1.86669738e+02, 1.33847838e+02,
       1.35315351e+02, 1.18107112e+02, 2.77162009e+02, 1.92161075e+02,
       1.38242432e+02, 1.24529422e+02, 1.27985194e+02, 1.35780416e+02,
       1.77232019e+02, 1.22919083e+02, 2.41793460e+02, 1.75334125e+02,
       1.61090567e+02, 1.05066900e+02, 1.08429694e+02, 1.70020666e+03,
       2.00612566e+03, 2.16680909e+02, 1.54015559e+02, 1.58777531e+02,
       1.88230433e+02, 3.48730231e+02, 3.59390466e+02, 3.01115593e+02,
       4.15644293e+02, 2.89425079e+02, 1.12499096e+02, 2.15987037e+02,
       7.76774456e+01, 3.69411121e+02, 2.44091277e+02, 8.91556719e+01,
       1.87821632e+02, 8.47335429e+01, 1.70993059e+02, 7.62016652e+01,
       3.73551138e+02, 4.26604319e+02, 1.53597646e+02, 1.41052937e+02,
       5.17624389e+01, 1.09897456e+02, 5.39017956e+01, 1.13781213e+02,
       5.94758267e+01, 1.22992633e+02, 6.23808359e+01, 6.90339765e+01,
       6.91876189e+01, 1.89329313e+02, 2.08463137e+02, 5.09082374e+02,
       1.06485182e+02, 1.57543299e+02, 1.58647081e+02, 1.58658961e+02,
       1.57240951e+02, 1.09882505e+02, 9.92906665e+01, 2.12146930e+02,
       1.60263548e+02, 1.50457058e+02, 9.93515885e+01, 1.10818075e+02,
       1.04953404e+02, 9.66112609e+01, 2.17697159e+02, 2.13358828e+02,
       1.52821724e+02, 5.36707239e+02, 9.94393390e+01, 1.00060467e+02,
       1.15341282e+02, 9.78842911e+01, 2.15276541e+02, 4.68240991e+02,
       1.04317429e+02, 4.23442635e+02, 9.45310636e+01, 1.62108774e+02,
       1.52290708e+02, 1.62612084e+02, 1.51915675e+02, 1.62977193e+02,
       1.52962290e+02, 1.63670884e+02, 1.05831972e+02, 2.10559943e+02,
       1.52313873e+02, 2.71512395e+02, 1.06495942e+02, 2.12941249e+02,
       2.09736428e+02, 4.32295947e+02, 2.03366891e+02, 3.13641951e+02,
       1.03142209e+02, 1.48388853e+02, 1.06055407e+02, 3.04732283e+02,
       3.57332848e+02, 2.54035021e+02, 9.54065840e+01, 2.62522037e+02,
       2.49462000e+02, 2.52787688e+02, 1.00618681e+02, 1.00447450e+02,
       2.47876386e+02, 2.02323082e+02, 1.06657759e+02, 9.68010461e+01,
       1.58053031e+02, 1.01404183e+02, 1.49160800e+02, 1.57930635e+02,
       1.01720586e+02, 1.53617611e+02, 9.71138932e+01])

In [77]:
%timeit geo_data_transformed["ti_distance_m"].sum()

32.5 Âµs Â± 4.71 Âµs per loop (mean Â± std. dev. of 7 runs, 10000 loops each)

In [78]:
distances = geo_data_transformed["ti_distance_m"].dropna().to_numpy()
%timeit np.bincount((index[:-1])[no_mix_mask], weights=distances[no_mix_mask])

4.39 Âµs Â± 127 ns per loop (mean Â± std. dev. of 7 runs, 100000 loops each)